*.log*
.idea/
*.iml
*.ipr
*.iws
open-lmis.ids
build/
out/
classes
.gradle
*.DS_Store
*.class
build.gradle.swp
node_modules/
local-ftp-data/
*.jasper
*.jar
*.xlsx
.gitignore.swp
git
gradle/
gradlew
gradlew.bat
